* {
  text-decoration: none;
  font-size: 1em;
  outline: none;
  margin: 0;
  padding: 0;
}
code,
pre,
textarea,
input,
select {
  font: inherit;
  white-space: normal;
}
a,
img,
a img,
iframe,
form,
abbr,
acronym,
object,
table,
a abbr,
a acronym {
  border-width: 0;
}
dfn,
cite,
address,
em {
  font-style: normal;
}
th,
td {
  text-align: left;
}
html {
  background: #fff;
  color: #000;
  line-height: 1;
  font-family: "Futura PT Book", Verdana, Geneva, Tahoma, sans-serif;
}
html {
  font-family: sans-serif;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
sub,
sup {
  vertical-align: baseline;
}
img {
  border: none;
  margin: 0;
}
body {
  background-color: transparent;
}
tr,
th,
td {
  width: auto;
  height: auto;
  vertical-align: inherit;
  border: none;
}
table[border],
.content table[border] {
  border-collapse: separate;
  border-spacing: 0;
}
html {
  font-size: 125%;
}
body {
  font-size: 50%;
}
strong,
th,
thead td,
h1,
h2,
h3,
h4,
h5,
dt {
  font-weight: 700;
}
cite,
em,
dfn {
  font-style: italic;
}
pre,
input[type="text"],
input[type="password"],
textarea {
  font-size: 100%;
  font-family: mono-space, monospace;
}
pre {
  white-space: pre;
}
pre * {
  font-size: 100%;
  white-space: pre;
}
del {
  text-decoration: line-through;
}
ins,
dfn {
  border-bottom: 1px solid #000;
}
small,
sup,
sub {
  font-size: 85%;
}
big {
  font-size: 125%;
  line-height: 80%;
}
abbr,
acronym {
  text-transform: uppercase;
  font-size: 85%;
  letter-spacing: 0.1em;
}
abbr[title],
acronym[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted #000;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
blockquote {
  padding-left: 2.2em;
}
input,
select {
  cursor: pointer;
}
input[type="text"] {
  cursor: text;
}
input[type="hidden"] {
  display: none;
}
.content {
  font-size: 1.2em;
  line-height: 1.6em;
}
.content h1 {
  line-height: 1;
  margin: 1em 0 0.5em;
}
.content h2 {
  line-height: 1;
  margin: 1.07em 0 0.535em;
}
.content h3 {
  line-height: 1;
}
.content h4 {
  line-height: 1;
  margin: 1.23em 0 0.615em;
}
.content h5 {
  line-height: 1;
  margin: 1.33em 0 0.67em;
}
.content ul {
  list-style: disc outside;
}
.content ol {
  list-style: decimal outside;
}
.content table {
  border-collapse: collapse;
}
.content p,
.content ul,
.content ol,
.content dl,
.content pre,
.content address,
.content table,
.content form {
  margin-bottom: 1.6em;
}
.content p + p {
  margin-top: -0.8em;
}
.content textarea,
.content input[type="text"] {
  padding: 0.1em 0.2em;
}
.content input {
  padding: 0.1em 0.2em;
}
.content select[multiple] {
  margin-bottom: 0.8em;
}
.content input[type="radio"] {
  position: relative;
  bottom: -0.2em;
}
.content dt {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}
.content ul,
.content ol {
  margin-left: 2.2em;
}
.content ul ul,
content ol ul,
.content ul ol,
content ol ol {
  margin-bottom: 0;
}
blockquote {
  color: #666;
}
blockquote > *:first-child:before {
  content: "\201C";
  font-size: 2.5em;
  margin-left: -0.62em;
  font-family: "Futura PT Book",georgia, serif;
  padding-right: 0.2em;
  color: #aaa;
  line-height: 0;
}
abbr[title],
acronym[title],
dfn[title] {
  border-bottom: 1px solid #ccc;
}
ins,
dfn {
  border-bottom-color: #666;
}
del {
  color: #666;
}
textarea,
input[type="text"],
input[type="password"],
select {
  border: 1px solid #ccc;
  background: #fff;
}
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
select:hover {
  border-color: #aaa;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  outline: 2px solid #e4e4e4;
  border-color: #888;
}

* {
  font-size: 11px;
  line-height: 1em;
}
input.submitButton {
  background: url(/hpp/resource/image/sprite.png) no-repeat;
  background-position: 0 -1628px;
  border: none;
  width: 74px;
  height: 32px;
  font-weight: bold;
  color: #333;
}
input.submitButton:hover {
  background: url(/hpp/resource/image/sprite.png) no-repeat;
  background-position: 0 -1732px;
}

* {
  font-size: 11px;
  line-height: 1em;
}
input.submitButton {
  background: url(/hpp/resource/image/sprite.png) no-repeat;
  background-position: 0 -1628px;
  border: none;
  width: 74px;
  height: 32px;
  font-weight: bold;
  color: #333;
}
input.submitButton:hover {
  background: url(/hpp/resource/image/sprite.png) no-repeat;
  background-position: 0 -1732px;
}
.dataBox {
  background: #efefef url(/hpp/resource/image/groupingBackground.png) repeat-x
    right top;
  padding: 0px 1em 1.6em 0;
  margin: 0px 0px 5px 0px;
}
.default_userInformation {
  padding-left: 4px;
}
.default_orderAmount {
  font-weight: bold;
  font-size: 16px;
}
.default_cardSeparator {
  border: none;
  border-bottom: 1px dotted #00a5db;
  margin: 5px 0 10px 0;
}
input.inputError {
  border: 1px solid red;
}
input.inputErrorValidation {
  border: 1px solid red;
}
.container_12 span.notification {
  padding-bottom: 5px;
  color: red;
  width: 100%;
}
.ui-dialog {
  padding-right: 0px;
}
.ui-icon-closethick {
  background: url(/hpp/resource/image/sprite.png) no-repeat;
  background-position: 0 -450px;
  padding: 5px;
}


.container_12 {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_7_5,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
}
.alpha {
  padding-left: 0;
}
.omega {
  padding-right: 0;
}
.grid_1 {
  width: 6.333%;
}
.grid_2 {
  width: 14.667%;
}
.grid_3 {
  width: 23%;
}
.grid_4 {
  width: 31.333%;
}
.grid_5 {
  width: 39.667%;
}
.grid_6 {
  width: 48%;
}
.grid_7 {
  width: 56.333%;
}
.grid_7_5 {
  width: 60%;
}
.grid_8 {
  width: 64.667%;
}
.grid_9 {
  width: 73%;
}
.grid_10 {
  width: 81.333%;
}
.grid_11 {
  width: 89.667%;
}
.grid_12 {
  width: 98%;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.custom_body {
  background-color: #fff;
  font-family: "Futura PT Book", -apple-system, BlinkMacSystemFont, segoe ui,
    Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}
.custom_input input,
select {
  font-family: "Futura PT Book", -apple-system, BlinkMacSystemFont, segoe ui,
    Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}
.custom_billingAddressHeader,
.custom_contactDetailsHeader,
.custom_paymentHeader {
  font-size: 18px;
}
.custom_dataBox {
  background: #fff;
  padding: 0;
}
.custom_customerDetails input:not([type="hidden"]),
select {
  padding: 5px 8px;
  width: 100%;
  line-height: 27px;
  background: 0 0;
  font-size: 15px;
  font-weight: 400;
}
.custom_customerDetails input[type="text"]{
  display: flex;
  flex-direction: column;
}
.custom_customerDetails form tr{
  display: flex;
  flex-direction: column-reverse;
}

.custom_customerDetails input[type="text"] {
  margin-bottom: 4px;
}
.custom_customerDetails input:not([type="hidden"]), .custom_customerDetails input[type="text"] {
  display: block;
  border: 0;
  border-bottom: 2px solid #000;
}
.custom_customerDetails input:not([type="hidden"]):focus {
  outline: 0;
}
select {
  position: relative;
  border-radius: 0;
  height: 39px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select,
select:active,
select:focus,
select:hover {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #000;
}
.custom_paymentButtons{
  margin-top: 22px;
}
.formFields{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.custom_customerDetails input[type="submit"] , .custom_customerDetails #cancelButton{
  display: inline-block;
  position: relative;
  transition: 0.3s;
  z-index: 1;
  margin-bottom: 12px;
  border: 2px solid #999;
  background: #fff;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  text-align: center;
  line-height: 28px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
      width: 100%;
}
.custom_customerDetails input[type="submit"]::after {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: auto;
  -webkit-transform: skew(-32deg);
  transform: skew(-32deg);
  transition: 0.3s;
  z-index: -1;
  background-color: #fff;
  width: 200%;
  content: "";
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
.custom_customerDetails input[type="submit"]:focus,
.custom_customerDetails input[type="submit"]:hover {
  background: 0 0;
  color: #fff;
  background-color: #000;
}
.custom_customerDetails input[type="submit"]:focus:after,
.custom_customerDetails input[type="submit"]:hover:after {
  right: 0;
  -webkit-transform: skew(-32deg);
  transform: skew(-32deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}
.custom_customerDetails input[type="submit"]:active {
  border-color: #4a4a4a;
  color: #4a4a4a;
}
.custom_customerDetails #cancelButton{
  background: #000;
  color:#fff;
}
.custom_customerDetails #cancelButton:hover,.custom_customerDetails #cancelButton:focus{
  background: #fff;
  color:#000;
}
.custom_customerDetails a{
  color : #000;
  text-decoration: underline;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.custom_labelColumn {
  order: 2;
  padding: 0 0 0 8px;
  width: 100%;
}
.custom_input,
.custom_paymentButtons {
  padding: 0;
  width: 100%;
}
.custom_maxWidth {
  width: 100%;
}
.custom_body {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 650px;
}
.custom_customerDetails {
  background-image: url(https://dm.henkel-dam.com/is/image/henkel/Salonory_logo_2020?scl=1&qlt=100&fmt=png-alpha);
  background-repeat: no-repeat;
  background-size: 196px 50px;
  padding-top: 60px;
}
.custom_customerDetails label{
  padding: 5px 8px;
}
.custom_customerDetails tr{
  margin-bottom : 25px;
}
.custom_customerDetails select{
  margin-bottom: 5px;
}
.custom_customerDetails label select{
 margin-left: -8px;
}
.custom_customerDetails input:submit{

}

@import url("https://p.typekit.net/p.css?s=1&k=lzn0tmz&ht=tk&f=10884.10886.15586&a=52150303&app=typekit&e=css");

@font-face {
  font-family: "Futura PT Book";
  src: url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Futura PT Light";
  src: url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("https://use.typekit.net/af/c4c302/000000000000000000012192/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/c4c302/000000000000000000012192/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/c4c302/000000000000000000012192/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}
